<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle Domicilio</title>
</head>
<body>
    <h1>Detalle Domicilio</h1>
<p>Id Domicilio: {{domicilio.id}}</p>
<p>Direccion: {{domicilio.direccion}}</p>
<p>Barrio: {{domicilio.barrio}}</p>
<p>Ciudad: {{persona.ciudad}}</p>
<a href="{% url 'ir_domicilio' %}">Inicio Domicilio</a>
</body>
</html>