<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Domicilio</title>
</head>
<body>
<h1>Agregar nuevo Domicilio</h1>
    <form method="POST">
        <table>
            {{formaDomicilio}}
        </table>
        <button type="submit">Enviar</button>
        {% csrf_token %}
    </form>
</body>
</html>